h1 {
  color: blue;
  font-style: normal;
  /* Kiểu chữ: in nghiêng hay là in thường */
}
h2 {
  color: yellowgreen;
  font-style: italic;
}
p {
  color: black;
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
p {
  font-family: "Times New Roman", Times, serif;
  /* Phông chữ */
}
h1,
h2 {
  text-align: center;
  /* Căn lề */
}
body {
  background-image: url(./background.png);
  /* thêm hình nền: lưu ý chỉ thêm từ link ở web */
}
h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* sử dụng prefix để chuyển đổi user-select:none; để cấm bôi đen */
}
