h1 {
  font-size: 3em;
  text-shadow: 4px 0px 0px #8fd2652f;
  color: rgb(26, 26, 210);
  font-style: normal;
  /* Kiểu chữ: in nghiêng hay là in thường */
}
h2 {
  color: yellowgreen;
  font-style: italic;
}
p {
  color: black;
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
p,
ul {
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  /* Phông chữ */
}
h1,
h2 {
  text-align: center;
  /* Căn lề */
}
body {
  /* background-image: url(https://media.istockphoto.com/id/1796090088/vi/anh/th%E1%BB%B1c-t%E1%BA%BF-%E1%BA%A3o-b%E1%BB%91i-c%E1%BA%A3nh-hi%E1%BB%87n-%C4%91%E1%BA%A1i-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng.jpg?s=1024x1024&w=is&k=20&c=kp64DZmlCm2lLpldrrBFQucz87h2W7MkfWF1tz4NC2k=); */
  /* thêm hình nền. */
  background-color: #1ca9a92f;
}

h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* sử dụng prefix để chuyển đổi user-select:none; để cấm bôi đen */
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(205, 235, 12);
}
i {
  margin-right: 5px;
  color: #0733f7f7;
}
