h1 {
  color: blue;
  font-style: normal;
}
h2 {
  color: yellowgreen;
  font-style: italic;
}
p {
  color: black;
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
p {
  font-family: "Times New Roman", Times, serif;
}
h1,
h2 {
  text-align: center;
}
